body {
    margin: 0;
    font-family: 'Nanum Gothic';
}

a {
    font-family: 'Nanum Gothic';
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 22);
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;

}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}
.navbar__menu li:hover {
    background-color: grey;
    border-radius: 4px;
}

.navbar__links {
    list-style: none;
    padding-left: 0;
    color: teal;
    display: flex;
}

.navbar__links li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-family: 'Nanum Gothic';
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__links {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__links.active {
        display: flex;
    }
}

/*네비바 부분*/

body {
    background-image: url('https://picsum.photos/1920/1080');
    background-size: cover;

    width: 100%;
    height: auto;
}

.top {
    
    font-family: "Nanum Gothic";
    font-size: 25px;
    color: #000000;
    padding-top: 2rem;
    text-align: center;
    word-break: keep-all;
}

.quo {
    padding-top: 4rem;
}
.intro {
    font-size: 45px;
}

p {
    width: 390px;
    margin: auto;
    text-align: center;
    font-family: "Nanum Gothic";
    font-weight: bold;
}
.p1 {
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 50px;
    width: 390px;
  }
  .p2 {
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 25px;
    width: 330px;
}
.p3 {
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 12px;
    width: 160px
}
#quote {

    background-color:rgba(255, 255, 255, 0.7);
    width: 500px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
    font-size: 35px;
    width: 390px;

  }

  * {
    box-sizing: border-box;
}

.clo {
    padding-bottom: 20px;
    padding-top: 20px
    
}

.clock {
    
    width: 300px;
    height: 250px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-family: 'Nanum Gothic';

}

.clock .time_box {
    width: 100%;
    padding-left: 10px;
}

.clock span {
    color: rgb(0, 0, 0);
}

.txt_lg {
    font-size: 75px;
}

.txt_sm {
    font-size: 30px;
}

.date_box {
    font-size: 28px;
}

#day {
    display: block;
    margin-top: 5px;
}

.mark {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    margin-left: 1px;
    line-height: 94px;
    font-size: 55px;
}

.mark02 {
    display: inline-block;
    margin-left: -3px;
}

.copy {
    font-size: 11px;
    padding-top: 23rem;
}


