body {
  text-align: center; 
  background-color: #171717;
  color: #eee;
}

main {
  background-color: #57c5b5;
  width: 70%;
  border-radius: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 10rem;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.a1 {
  border-radius: 0.5rem;
  display: inline-block;
  background-color: #171717;
  color: #eee;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  
}

.a1:hover {
  background-color: #c2c8c7;
}

p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;

}

footer {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}

#back {
  width: auto;
  background-color: rgb(243, 227, 255);
  text-align: center;
  padding: 4rem 0 30rem;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  main {
    width: 100%;
    border-radius: 0rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}