body {
  text-align: center; 
  background-color: #171717;
  color: #eee;
}

main {
  background-color: #57c5b5;
  width: 70%;
  margin: auto;
  border-radius: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 10rem;
}


.a1 {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #57c5b5;
  padding: 0.3rem;
  border-radius: 6px;
}

.a1:hover {
  background-color: #171717;
}

p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}

#back {
  width: auto;
  background-color: rgb(243, 227, 255);
  text-align: center;
  padding: 4rem 0 30rem;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  main {
    width: 100%;
    border-radius: 0rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}